#join {
  padding: 80px 0;

  .join {
    width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
    margin: auto;
     &--text{
       padding: 10px 30px;

       h2 {
         font-weight: 600;
         font-size: 32px;
         line-height: 151.4%;
         color: #FFFFFF;
         padding: 40px 0;
       }
       button{
         padding: 10px 30px;
         background: #FFFFFF;
         border-radius: 8px;
         font-weight: 600;
         font-size: 20px;
         color: #02897A;
         display: flex;
         text-transform: capitalize;
       }
     }
  }
}