#client {
  padding: 20px 0;

  .client {
    h1 {
      font-weight: 700;
      font-size: 34px;
      color: black;
      text-align: center;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      color: black;
      text-align: center;
      padding: 10px 0;
    }

    img {
      object-fit: cover;
      width: 16%;
    }

    &--block {
      display: flex;
      gap: 40px;
      padding-top: 50px;
      &__one {
        width: 36%;
        height: 270px;
        background: #FFFFFF;
        border: 2px solid #DEDEDE;
        border-radius: 5px;
        padding: 15px 15px;
        .images {
          width: 32%;
          padding: 10px 20px;
          object-fit: cover;
        }

        p {
          font-weight: 500;
          font-size: 18px;
          color: #737373;
          text-align: start;
          padding: 0 20px;
        }

        &--woman {
          display: flex;
          padding: 20px 20px;

          h6 {
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.2px;
            color: #02897A;
            padding: 10px 10px;

            span {
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 1.1px;
              color: #252B42;
            }
          }
        }
      }
    }
  }
}